<mat-card class="planet">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title><h2>Tattooine</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="planet-detail">
      <div class="planet-props">
        <h4>Elementos Orbitais</h4>
        <div class="planet-prop-line"><strong>Periodo Orbital</strong><span>304</span></div>
        <div class="planet-prop-line"><strong>Periodo de rotacao</strong><span>23</span></div>
      </div>
      <div class="planet-props">
        <h4>Caracteristicas Fisicas</h4>
        <div class="planet-prop-line"><strong>Diametro</strong><span>10465</span></div>
        <div class="planet-prop-line"><strong>Clima</strong><span>arido</span></div>
        <div class="planet-prop-line"><strong>Terreno</strong><span>Desertico</span></div>
        <div class="planet-prop-line"><strong>Gravidade</strong><span>1</span></div>
        <div class="planet-prop-line"><strong>Populacao</strong><span>200000</span></div>
      </div>
      <div class="planet-props">
        <h4>Residentes</h4>
        <div class="planet-prop-line">
          <ul>
            <li>
              <a href="#">
                <mat-icon mat-list-icon>face</mat-icon>
                <strong>Luke Skywalker</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">Randomizar</button>
  </mat-card-actions>
</mat-card>
