<div fxLayout="row wrap">
  <ng-container *ngFor="let planet of planetList">
    <mat-card>
      <mat-card-title>{{ planet.name }}</mat-card-title>
    </mat-card>
  </ng-container>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus doloremque, eaque eligendi enim
    expedita iste iusto libero perferendis quam repellat soluta. Culpa cumque earum eligendi labore magni reiciendis
    voluptate!
  </div>
  <div>Aspernatur atque aut ea laudantium nulla quam quasi vel! Accusamus aperiam atque commodi culpa earum, eos fugiat
    in laboriosam magnam magni nam quam quasi qui quidem repellat sequi, velit vitae.
  </div>
  <div>Aspernatur, doloribus enim excepturi exercitationem explicabo facilis illum incidunt ipsum iure labore molestiae
    molestias mollitia nemo nihil nulla officia optio praesentium quasi quisquam quod ratione reiciendis sapiente sed
    suscipit voluptatibus!
  </div>
  <div>Aliquam amet at atque autem commodi consequatur dolore doloremque, dolorum ipsam iusto minus necessitatibus optio
    praesentium quaerat, reiciendis repellendus similique sit sunt tempore unde velit veniam voluptatibus. Error
    maiores, unde.
  </div>
  <div>Animi consequatur consequuntur cum ea enim, impedit, inventore laudantium maiores maxime, minima nulla obcaecati
    quae quia quidem quod ullam ut vitae. Architecto delectus dolores est maiores quia, quo quos vitae.
  </div>
  <div>A, consequuntur cumque debitis, deleniti eum ipsam libero necessitatibus provident ratione, repellendus sed unde
    vitae. Amet blanditiis doloremque ducimus, earum, eveniet excepturi nisi numquam praesentium quas quasi, qui
    reprehenderit sequi.
  </div>
  <div>Animi architecto atque eos, est eveniet ipsam iure laborum modi natus placeat quas quasi recusandae reprehenderit
    saepe sapiente tempora, tenetur. Cupiditate dolores mollitia nemo odio unde. Harum impedit quidem reprehenderit.
  </div>
  <div>Alias aperiam architecto consectetur, deleniti, error est fugiat ipsam laudantium libero mollitia neque, nisi
    numquam odio quae quia quis quod sed voluptate voluptatem voluptates. Delectus exercitationem fugit laboriosam odio?
    Ratione!
  </div>
  <div>At culpa distinctio dolorem ducimus expedita modi nam necessitatibus nemo neque nihil nulla numquam perspiciatis
    placeat quae quas quasi quo quod rem soluta, tempora tempore totam ullam unde voluptates voluptatum!
  </div>
  <div>Dolores, exercitationem impedit ipsum nesciunt quod totam. Accusantium architecto consequuntur delectus, deserunt
    eaque eos ex excepturi laudantium magnam nisi pariatur perspiciatis possimus quo, quod repellendus suscipit
    voluptatum! Cum, ea facilis!
  </div>
</div>
