@import '~@angular/material/theming';

:host {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: mat-color($mat-deep-purple, 600);
  will-change: transform;
  animation: scale-in-hor-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.planet-overlay {
  background-color: #fff;
  padding: 1rem;
  font-size: 14px;
  border-radius: 4px;
  will-change: transform;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}
