<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>
    <h2>B2W Star Wars Map</h2>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <a class="mat-nav-list" href="#">Planetas</a>
      </mat-list-item>
      <mat-list-item>
        <a class="mat-nav-list" href="#">Sobre</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


