app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
mat-sidenav {
  width: 200px;
}
.content-wrapper {
  overflow: hidden;
  padding: 10px;
  margin: 100px 10px;
  flex-grow: 1;
  position: relative;
}

