
.content-wrapper {
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.planet {
  max-width: 100%;
  width: 400px;
  //background: mat-color($mat-deep-purple,400);

  .mat-card-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-title > h2 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .planet-detail {
    .planet-props {
      margin-bottom: 30px;
      h4 {
        padding: 5px;
        border-bottom: 1px solid mat-color($mat-deep-purple, 600);
        color: mat-color($mat-yellow, 50);
      }
      strong::after {
        content: ": "
      }

      strong {
        flex-basis: 20%;
        flex-grow: 1;
        flex-shrink: 1;
      }

      .planet-prop-line {
        display: flex;
        margin: 0 20px 10px;
      }
    }
  }

}

