@import '~@angular/material/theming';

@include mat-core();
$swm-app-primary:        mat-palette($mat-deep-purple, 900);
$swm-app-accent:         mat-palette($mat-pink, 400);
$swm-app-warn:           mat-palette($mat-yellow, 600);

$swm-app-theme:          mat-light-theme($swm-app-primary, $swm-app-accent, $swm-app-warn);
@include                 angular-material-theme($swm-app-theme);


$swm-base-typography: mat-typography-config(
  $font-family: 'Titillium Web, Open Sans, monospace'
);

@include mat-base-typography($swm-base-typography);

@include mat-core($swm-base-typography);
