/* Color */
$swm-pink:              rgba(216, 36, 84, 1);
$swm-purple:            rgba(87, 26, 114, 1);
$swm-dark-purple:       rgba(94, 26, 191, 1);
$swm-dark-blue:         rgba(8, 26, 63, 1);
$swm-yellow:            rgba(242, 212, 68, 1);
